@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

/* Mise en forme HEADER */
header {
  display: flex;
  justify-content: space-between;
  height: 66px;
  align-items: center;
}

.logo {
  margin: 10px;
  width: 100px;
  height: auto;
}

.nav-link {
  margin: 10px;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
}

.n-link {
  text-decoration: none;
  color: #999999;
  padding: 0 30px;
}

.n-link:hover {
  color: #0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 23px;
}

.n-link:focus {
  color: #0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 23px;
}

.n-signup {
  text-decoration: none;
  color: #0065FC;
  padding: 0 20px;
}
  
/* Mise en forme SECTION SEARCH */
.search {
  padding: 10px;
}

.title {
  display: flex;
  flex-direction: column;
}

.s-title {
  font-size: medium;
  margin-top: 0;
  margin-bottom: 5px;
}

.s-subtitle {
  font-size: smaller;
  margin-top: 0;
}

.s-input {
  display: flex;
}

.s-icon {
  background-color: #F2F2F2;
  padding: 10px 15px;
  border-radius: 10px 0 0 10px;
  text-align: center;
}

.s-form {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 15px;
  width: 200px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Raleway";
}

.s-button {
  background-color: #0065FC;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 0 10px;
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Raleway";
  cursor: pointer;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.f-title {
  display: flex;
  align-items: center;
  margin: 0 20px 10px 0;
}

.f-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  margin: 0 20px 10px 0;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.f-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: -14px;
}

.f-text {
  padding: 0 10px 0 25px;
}

.result {
  display: flex;
}

.r-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: small;
}

.r-text {
  display: flex;
  align-items: center;
  padding: 3px 0 0 10px;
  height: 25px;
  width: auto;
  font-size: small;
}

/* Mise en forme DISPLAY & ASIDE*/

figure {
  display: inline;
  margin: 0;
}

figcaption {
  margin: 0;
}

.display {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  height: 550px;
  background-color: #F2F2F2;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.titre {
  width: 750px;
  height: 50px;
}

.a-title {
  display: flex;
  margin-left: 10px;
  width: 360px;
  height: 50px;
}

.titre2 {
  width: 250px;
  height: 50px;
}

.a-icon {
  margin-left: 30px;
  width: 50px;
  height: 50px;
}

.more {
  width: 750px;
  height: 40px;
}

.mask-image {
  width: 200px;
  height: 100px;
  text-align: center;
  overflow: hidden;
}

.mask-image2 {
  width: 150px;
  height: 160px;
  text-align: center;
  overflow: hidden;
}

.photo {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 200px;
  height: 100px;
}

.photo2 {
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  width: 120px;
  height: 130px;
}

.background-image {
  background-color: white;
  box-shadow:2px 2px 10px #dddbdb;
  width: 200px;
  height: 165px;
  border-radius: 25px;
  padding: 5px;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;  
}

.background-image2 {
  display: flex;
  background-color: white;
  box-shadow:2px 2px 10px #dddbdb;
  width: 300px;
  height: 130px;
  border-radius: 25px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;  
}

.legend {
  padding-left: 10px;
  width: 170px;
  font-size: 12px;
  line-height: 5px;
}

.legend2 {
  padding-left: 20px;
  padding-right: 20px;
  width: 170px;
  font-size: 12px;
}

.displayAside {
  display: flex;
  width: 1200px;
  height: 600px;
  margin: 10px;
}

.aside {
  width: 365px;
  height: 550px;
  background-color: #F2F2F2;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.notation {
  color: #0065FC;
}

.notation2 {
  line-height: 55px;
  color: #0065FC;
}

.star-1, .star-2 {
  color: #F2F2F2;
}

/* Mise en forme FOOTER */
footer {
  background-color: #F2F2F2;
}

.liste {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 10px;
  margin-right: 200px;
  font-size: small;
  line-height: 20px;
}

.l-title {
  font-weight: bold;
  line-height: 50px;
}

.l-link {
  text-decoration: none;
  color: black;
}

.l-link:hover {
  text-decoration: none;
  color: black;
}
