@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

/* Mise en forme HEADER */
header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  height: 66px;
  align-items: center;
}

.logo {
  border: 1px solid black;
  margin-left: 40px;
  width: 100px;
  height: auto;
}

.nav-link {
  border: 1px solid black;
  margin-right: 40px;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
}

.n-link {
  border: 1px solid black;
  text-decoration: none;
  color: #999999;
  padding: 0 30px;
}

.n-link:hover {
  color: #0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 23px;
}

.n-link:focus {
  color: #0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 23px;
}

.n-signup {
  border: 1px solid black;
  text-decoration: none;
  color: #0065FC;
  padding: 0 20px;
}
  
/* Mise en forme SECTION SEARCH */
.search {
  margin: 0 40px 0 40px;
  border: 1px solid black;
  
}

.s-title {
  border: 1px solid black;
  font-size: medium;
  margin-bottom: 5px;
}

.s-subtitle {
  border: 1px solid black;
  font-size: smaller;
  margin-top: 0;
}

.s-input {
  border: 1px solid black;
  display: flex;
}

.s-icon {
  background-color: #F2F2F2;
  padding: 10px 15px;
  border-radius: 10px 0 0 10px;
  text-align: center;
}

.s-form {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 15px;
  width: 200px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Raleway";
}

.s-button {
  background-color: #0065FC;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 0 10px;
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Raleway";
  cursor: pointer;
}

@media all and (min-width: 768px) {
  .s-find-icon {
    display: none;
  }
}

@media all and (max-width: 767px) {
  .s-find {
    display: none;
  }

  .s-button {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    width: 45px;
    height: 40px;
    font-size: 14px;
    font-weight: bold; 
  }
}

.filters {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.f-title {
  display: flex;
  align-items: center;
  margin: 0 20px 10px 0;
}

.f-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  margin: 0 20px 10px 0;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.f-button:hover {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  margin: 0 20px 10px 0;
  padding: 10px;
  background-color: #DEEBFF;
  color: #0065FC;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.5s;
}

.f-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: -14px;
}

.f-text {
  padding: 0 10px 0 25px;
}

.result {
  border: 1px solid black;
  display: flex;
  margin-top: 15px;
}

.r-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: small;
}

.r-text {
  display: flex;
  align-items: center;
  padding: 3px 0 0 10px;
  height: 25px;
  width: auto;
  font-size: small;
}

/* Mise en forme DISPLAY */
figure, h3, h4, h5 {
  display: inline;
  margin: 0;
}

.displayAside {
  border: 1px solid rgb(24, 197, 102);
  display: flex;
  justify-content: space-between;
  
  margin: 5px 35px 0 35px;
}

.display {
  border: 1px solid rgb(230, 20, 20);
  display: flex;
  flex-direction: column;
 
  min-width: 700px;
  height: 520px;
  background-color: #F2F2F2;
  border-radius: 15px;
  margin: 5px 20px 5px 5px;
  
  
}

.d-title {
  display: flex;
  border: 1px solid black;
  
  margin: 10px 10px 0 10px;
  height: 61px;
}

.d-title-top {
  border: 1px solid rgb(204, 207, 10);
  margin: 25px 0 5px 0;
}

.d-thumbnail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  height: 370px;
  border: 1px solid rgb(32, 21, 197);
  margin: 5px 10px 5px 10px;
}

.d-backgroundThumbnail {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow:2px 2px 10px #dddbdb;
  width: 200px;
  height: 150px;
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;  
}

.d-photo {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 200px;
  height: 90px;
}

.d-legend {
  border: 1px solid black;
  margin-left: 10px;
  padding-top: 5px;
  font-size: 12px;
  line-height: 5px;
}

.d-rating {
  border: 1px solid black;
  color: #0065FC;
}

.d-button-title {
  border: 1px solid black;
  
  height: 30px;
  margin: 20px 10px 5px 10px;
}

/* Mise en forme ASIDE */
aside {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(241, 16, 16);
  width: 365px;
  height: 500px;
  background-color: #F2F2F2;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
  
}

.asideTitle {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 365px;
  height: 61px;
}

.a-title {
  border: 1px solid black;
  margin: 25px 20px 5px 30px;
}

.a-icon {
  border: 1px solid black;
  margin: 25px 30px 5px 10px;
}

.a-thumbnail {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid black;
  margin-top: 5px;
  width: 365px;
  height: 430px;
}

.a-backgroundThumbnail {
  display: flex;
  background-color: white;
  border: 1px solid black;
  box-shadow:2px 2px 10px #dddbdb;
  width: 300px;
  height: 115px;
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;  
}

.a-photo {
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  width: 120px;
  height: 115px;
}

.a-legend {
  border: 1px solid black;
  padding: 8px 20px 0 20px;
  width: 170px;
  font-size: 12px;
}

.a-price {
  border: 1px solid black;
  margin-top: 5px;
}

.a-rating {
  border: 1px solid black;
  padding-top: 15px;
  color: #0065FC;
}

.star-1, .star-2 {
  color: #F2F2F2;
}

/* Mise en forme BESIDE */
.beside {
  border: 1px solid rgb(9, 238, 21);
  display: flex;
  flex-direction: column;
  
  margin: 5px 35px 5px 35px;
}

.b-title {
  display: flex;
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 0;
  height: 35px;
  margin: 5px;
}

#b-title-top {
  border: 1px solid rgb(245, 222, 16);
  height: 20px;
  margin: 10px 0 5px 5px;
}

.b-bloc {
  border: 1px solid rgb(248, 23, 6);
  display: flex;
  justify-content: space-between;
  height: 360px;
  margin: 0 5px 5px 5px;
}

.b-backgroundThumbnail-1, .b-backgroundThumbnail-4 {
  border: 1px solid black;
  width: 265px;
  height: 345px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
  margin: 5px 0 0 5px;
}

.b-photo-1, .b-photo-4 {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 300px;
  margin-bottom: 10px;
}

.b-legend {
  border: 1px solid black;
  font-size: small;
  padding-left: 20px;
}

.b-bloc-mini {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 265px;
  height: 345px;
  margin: 5px;
}

.b-bachgroundThumbnail-2 {
  border: 1px solid black;
  width: 265px;
  height: 175px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

.b-photo-2 {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 130px;
  margin-bottom: 10px;
}

.b-bachgroundThumbnail-3 {
  border: 1px solid black;
  width: 265px;
  height: 130px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

.b-photo-3 {
  object-fit: cover;
  object-position: top 10px;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 85px;
  margin-bottom: 10px;
}

.b-bachgroundThumbnail-5 {
  border: 1px solid black;
  width: 265px;
  height: 155px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

.b-photo-5 {
  object-fit: cover;
  object-position: top 10px;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 110px;
  margin-bottom: 10px;
}

.b-bachgroundThumbnail-6 {
  border: 1px solid black;
  width: 265px;
  height: 150px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

.b-photo-6 {
  object-fit: cover;
  object-position: top 10px;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 105px;
  margin-bottom: 10px;
}

/* Mise en forme FOOTER */
footer {
  background-color: #F2F2F2;
}

.liste {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

ul {
  border: 1px solid black;
  list-style: none;
  padding: 0;
  margin: 10px 200px 30px 40px;
  font-size: 13px;
  line-height: 20px;
}

.l-title {
  font-weight: bold;
  line-height: 45px;
}

.l-link {
  text-decoration: none;
  color: rgb(80, 80, 80);
}

.l-link:hover {
  text-decoration: none;
  color: black;
}
