@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

/* Mise en forme HEADER */
header {
  border: 1px solid black;
  display: flex;
  height: auto;
  align-items: center;
}

.logo {
  border: 1px solid black;
  width: 100px;
  height: auto;
}

@media all and (max-width: 767px) {
  .logo {
    border: 1px solid black;
    margin: 10px 20px 10px 10px;
    width: 100px;
    height: auto;
  }
}

.logo-nav {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0 10px 40px;
  padding: 5px;
}

@media all and (max-width: 767px) {
  .logo-nav {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 5px;
  }
}

.nav-link {
  width: auto;
  border: 1px solid rgb(23, 41, 202);
  padding: 15px 5px 5px 5px;
  
  font-weight: 600;
  font-size: 15px;
}

@media all and (max-width: 767px) {
  .nav-link {
    display: flex;
    border: 1px solid black;
    width: 100%;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
  }
}

.n-link {
  border: 1px solid rgb(187, 21, 21);
  text-decoration: none;
  color: #6d6d6d;
  padding: 0 20px 0 20px;
  width: 100px;
}

@media all and (max-width: 767px) {
  .n-link {
    border-bottom: 2px solid #F2F2F2;
    text-decoration: none;
    color: #6d6d6d;
    width: 100%;
    padding-left: 60px;
    padding-bottom: 10px;
    
  }
}

.n-link:hover, .n-link:focus {
  color: #0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 30px;
}

@media all and (max-width: 767px) {
  .n-link:hover {
    color: #0065FC;
    border-top: none;
    border-bottom: 2px solid #0065FC;
    padding-top: 0;
    padding-bottom: 10px;
  }
  .n-link:focus {
    color: #0065FC;
    border-top: none;
    border-bottom: 2px solid #0065FC;
    padding-top: 0;
    padding-bottom: 10px;
  }
}

.n-signup, .n-signup-device {
  border: 1px solid black;
  text-decoration: none;
  color: #0065FC;
  font-weight: 700;
  padding: 0 20px;
  margin-right: 40px;
  }

@media all and (min-width: 768px) {
  .n-signup-device {
    display: none;
  }  
}
  
@media all and (max-width: 767px) {
  .n-signup {
    display: none;
  }
  .n-signup-device {
    position: absolute;
    border: 1px solid black;
    text-decoration: none;
    color: #0065FC;
    font-weight: 700;
    padding: 0 20px;
    margin: 0px 20px 30px 200px
    }
}
  
/* Mise en forme SECTION SEARCH */
.search {
  margin: 0 40px 0 40px;
  border: 1px solid black;
}

@media all and (max-width: 767px) {
  .search {
    margin: 5px 0px 10px 20px;
    width: auto;
    height: auto;
  }
}

.s-title {
  border: 1px solid black;
  font-size: medium;
  margin-bottom: 5px;
}

.s-subtitle {
  border: 1px solid black;
  font-size: smaller;
  margin-top: 0;
}

.s-icon {
  background-color: #F2F2F2;
  padding: 10px 15px;
  border-radius: 10px 0 0 10px;
  text-align: center;
}

.s-form {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 15px;
  width: 200px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Raleway";
}

.s-button {
  background-color: #0065FC;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 0 10px;
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Raleway";
  cursor: pointer;
}

@media all and (min-width: 768px) {
  .s-find-icon {
    display: none;
  }
}

@media all and (max-width: 767px) {
  .s-find {
    display: none;
  }

  .s-button {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    width: 45px;
    height: 40px;
    font-size: 14px;
    font-weight: bold; 
  }
}

.filters {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.f-title {
  display: flex;
  align-items: center;
  margin: 0 20px 10px 0;
}

@media all and (max-width: 767px) {
  .f-title {
    display: flex;
    align-items: center;
    margin: 0 300px 10px 0;
  }
}

.f-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  margin: 0 20px 10px 0;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.f-button:hover {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  margin: 0 20px 10px 0;
  padding: 10px;
  background-color: #DEEBFF;
  color: #0065FC;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.5s;
}

.f-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: -14px;
}

.f-text {
  padding: 0 10px 0 25px;
}

.result {
  border: 1px solid black;
  display: flex;
  margin-top: 15px;
}

.r-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: small;
}

.r-text {
  display: flex;
  align-items: center;
  padding: 3px 0 0 10px;
  height: 25px;
  width: auto;
  font-size: small;
}

/* Mise en forme DISPLAY */
figure, h3, h4, h5 {
  display: inline;
  margin: 0;
}

.displayAside {
  border: 1px solid rgb(24, 197, 102);
  display: flex;
 
  justify-content: space-between;
  margin: 5px 35px 0 35px;
}

@media all and (max-width: 767px) {
  .displayAside {
    border: 1px solid rgb(24, 197, 102);
    display: flex;
    flex-direction: column-reverse;
    margin: 5px 0 5px 0;
    width: auto;
    height: auto;
    padding: 5px 0 5px 0;
  }
}

.display {
  border: 1px solid rgb(230, 20, 20);
  display: flex;
  flex-direction: column;
  
  width: auto;
  min-height: 500px;
  background-color: #F2F2F2;
  border-radius: 15px;
  margin: 5px 20px 5px 5px;
}

@media all and (max-width: 767px) {
  .display {
    border: 1px solid rgb(230, 20, 20);
    display: flex;
    flex-direction: column;
    
    width: auto;
    
    height: auto;
    background-color: white;
    border-radius: 0;
    margin: 0;
    padding: 10px;
  }
}

.d-title {
  display: flex;
  border: 1px solid black;
  margin: 10px 10px 0 10px;
  height: 61px;
}

@media all and (max-width: 767px) { 
  .d-title {
    display: flex;
    border: 1px solid black;
    margin: 10px 0 10px 10px;
    height: auto;
  }
}

.d-title-top {
  border: 1px solid rgb(204, 207, 10);
  margin: 25px 0 5px 0;
}

@media all and (max-width: 767px) {
  .d-title-top {
    border: 1px solid rgb(204, 207, 10);
    margin: 0;
  }
}

.d-thumbnail {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  height: auto;
  border: 1px solid rgb(32, 21, 197);
  margin: 5px 10px 5px 10px;
}

@media all and (max-width: 767px) {
  .d-thumbnail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: auto;
    border: 1px solid rgb(32, 21, 197);
    margin: 5px 0px 5px 5px;
  }
}

.d-backgroundThumbnail {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow:2px 2px 10px #dddbdb;
  width: 200px;
  height: 150px;
  border-radius: 25px;
  padding: 5px;
  margin: 0 30px 30px 0;
  cursor: pointer;  
}

@media all and (max-width: 767px) {
  .d-backgroundThumbnail {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow:2px 2px 10px #dddbdb;
    width: 265px;
    height: 150px;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
    margin: 5px;  
  }
}

.d-photo {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 200px;
  height: 90px;
}

@media all and (max-width: 767px) {
  .d-photo {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 265px;
    height: 90px;
  }
}

.d-legend {
  border: 1px solid black;
  margin-left: 10px;
  padding-top: 5px;
  font-size: 12px;
  line-height: 5px;
}

.d-rating {
  border: 1px solid black;
  color: #0065FC;
}

.d-button-title {
  border: 1px solid black;
  height: 30px;
  margin: 20px 10px 5px 10px;
}

/* Mise en forme ASIDE */
aside {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(241, 16, 16);
  max-width: 350px;
  max-height: 500px;
  background-color: #F2F2F2;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
}

@media all and (max-width: 767px) {
  aside {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(241, 16, 16);
    max-width: none;
    width: auto;
    min-height: 600px;
    background-color: #F2F2F2;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    
  }
}

.asideTitle {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 365px;
  height: 61px;
}

@media all and (max-width: 767px) {
  .asideTitle {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 5px;
  }
}

.a-title {
  border: 1px solid black;
  margin: 25px 20px 5px 30px;
}

@media all and (max-width: 767px) {
  .a-title {
    border: 1px solid black;
    margin: 25px 20px 5px 10px;
  }
}

.a-icon {
  border: 1px solid black;
  margin: 25px 30px 5px 10px;
}

@media all and (max-width: 767px) {
  .a-icon {
    border: 1px solid black;
    margin: 25px 15px 5px 15px;
  }
}

.a-thumbnail {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid black;
  margin-top: 5px;
  width: 365px;
  height: 430px;
}

@media all and (max-width: 767px) {
  .a-thumbnail {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    border: 1px solid rgb(216, 24, 174);
    margin: 5px 30px 5px 30px;
    width: 100%;
    height: auto;
  }
}

.a-backgroundThumbnail {
  display: flex;
  background-color: white;
  border: 1px solid black;
  box-shadow:2px 2px 10px #dddbdb;
  width: 300px;
  height: 115px;
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;  
}

@media all and (max-width: 767px) {
  .a-backgroundThumbnail {
    display: flex;
    background-color: white;
    border: 1px solid black;
    box-shadow:2px 2px 10px #dddbdb;
    width: 100%;
    min-height: 150px;
    border-radius: 25px;
    padding: 5px;
    margin: 0 10px 10px 10px;
    cursor: pointer;
  }
}

.a-photo {
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  width: 120px;
  height: 115px;
}

@media all and (max-width: 767px) {
  .a-photo {
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    min-width: 150px;
    min-height: 150px;
  }
}

.a-legend {
  border: 1px solid black;
  padding: 8px 20px 0 20px;
  width: 170px;
  font-size: 12px;
}

@media all and (max-width: 767px) {
  .a-legend {
    border: 1px solid black;
    padding: 10px 0 0 20px;
    min-width: 230px;
    font-size: 18px;
  }
}

.a-price {
  border: 1px solid black;
  margin-top: 5px;
}

.a-rating {
  border: 1px solid black;
  padding-top: 15px;
  color: #0065FC;
}

.star-1, .star-2 {
  color: #F2F2F2;
}

/* Mise en forme BESIDE */
.beside {
  border: 1px solid rgb(9, 238, 21);
  display: flex;
  flex-direction: column;
  
  margin: 5px 35px 5px 35px;
}

@media all and (max-width: 767px) {
  .beside {
    border: 1px solid rgb(9, 238, 21);
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 0;
  }
}

.b-title {
  display: flex;
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 0;
  height: 35px;
  margin: 5px;
}

#b-title-top {
  border: 1px solid rgb(245, 222, 16);
  height: 20px;
  margin: 10px 0 5px 5px;
}

@media all and (max-width: 767px) {
  #b-title-top {
    border: 1px solid rgb(245, 222, 16);
    height: auto;
    margin: 10px 0 5px 15px;
  }
}

.b-bloc {
  border: 1px solid rgb(248, 23, 6);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 360px;
  margin: 0 5px 5px 5px;
}

@media all and (max-width: 767px) {
  .b-bloc {
    border: 1px solid rgb(248, 23, 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    margin: 0;
    
  }
}

.b-backgroundThumbnail-1, .b-backgroundThumbnail-4 {
  border: 1px solid black;
  width: 265px;
  height: 345px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
  margin: 5px 0 0 5px;
}

@media all and (max-width: 767px) {
  .b-backgroundThumbnail-1, .b-backgroundThumbnail-4 {
    border: 1px solid black;
    width: 265px;
    height: 145px;
    border-radius: 20px;
    box-shadow:2px 2px 10px #dddbdb;
    cursor: pointer;
    margin: 0;
  }
}

.b-photo-1, .b-photo-4 {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 300px;
  margin-bottom: 10px;
}

@media all and (max-width: 767px) {
  .b-photo-1, .b-photo-4 {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 265px;
    height: 100px;
    margin-bottom: 10px;
  }
}
.b-legend {
  border: 1px solid black;
  font-size: small;
  padding-left: 20px;
}

.b-bloc-mini {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 265px;
  height: 345px;
  margin: 5px;
}

@media all and (max-width: 767px) {
  .b-bloc-mini {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 265px;
    height: auto;
    margin: 20px 0 20px 0;
  }
}

.b-bachgroundThumbnail-2 {
  border: 1px solid black;
  width: 265px;
  height: 175px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .b-bachgroundThumbnail-2 {
    border: 1px solid black;
    width: 265px;
    height: 145px;
    border-radius: 20px;
    box-shadow:2px 2px 10px #dddbdb;
    cursor: pointer;
    margin-bottom: 20px;
  }
}

.b-photo-2 {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 130px;
  margin-bottom: 10px;
}

@media all and (max-width: 767px) {
  .b-photo-2 {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 265px;
    height: 100px;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

.b-bachgroundThumbnail-3 {
  border: 1px solid black;
  width: 265px;
  height: 130px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .b-bachgroundThumbnail-3 {
    border: 1px solid black;
    width: 265px;
    height: 145px;
    border-radius: 20px;
    box-shadow:2px 2px 10px #dddbdb;
    cursor: pointer;
  }
}

.b-photo-3 {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 85px;
  margin-bottom: 10px;
}

@media all and (max-width: 767px) {
  .b-photo-3 {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 265px;
    height: 100px;
    margin-bottom: 10px;
  }
}

.b-bachgroundThumbnail-5 {
  border: 1px solid black;
  width: 265px;
  height: 155px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .b-bachgroundThumbnail-5 {
    border: 1px solid black;
    width: 265px;
    height: 145px;
    border-radius: 20px;
    box-shadow:2px 2px 10px #dddbdb;
    cursor: pointer;
    margin-bottom: 20px;
  }
}

.b-photo-5 {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 110px;
  margin-bottom: 10px;
}

@media all and (max-width: 767px) {
  .b-photo-5 {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 265px;
    height: 100px;
    margin-bottom: 10px;
  }
}

.b-bachgroundThumbnail-6 {
  border: 1px solid black;
  width: 265px;
  height: 150px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .b-bachgroundThumbnail-6 {
    border: 1px solid black;
    width: 265px;
    height: 145px;
    border-radius: 20px;
    box-shadow:2px 2px 10px #dddbdb;
    cursor: pointer;
  }
}

.b-photo-6 {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 105px;
  margin-bottom: 10px;
}

@media all and (max-width: 767px) {
  .b-photo-6 {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 265px;
    height: 100px;
    margin-bottom: 10px;
  }
}

/* Mise en forme FOOTER */
footer {
  background-color: #F2F2F2;
}

.liste {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

ul {
  border: 1px solid black;
  list-style: none;
  padding: 0;
  margin: 10px 200px 30px 40px;
  font-size: 13px;
  line-height: 20px;
}

@media all and (max-width: 767px) {
  ul {
    border: 1px solid black;
    list-style: none;
    padding: 0;
    margin: 0px 200px 20px 20px;
    font-size: 13px;
    line-height: 20px;
  }
}

.l-title {
  font-weight: bold;
  line-height: 45px;
}

.l-link {
  text-decoration: none;
  color: rgb(80, 80, 80);
}

.l-link:hover {
  text-decoration: none;
  color: black;
}
