@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
}

/* Mise en forme HEADER */
header {
    display: flex;
    justify-content: space-between;
    height: 66px;
    align-items: center;
  }

  .logo {
    margin: 10px;
    width: 100px;
    height: auto;
  }

  .nav-link {
    margin: 10px;
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
  }

  .n-link {
    text-decoration: none;
    color: #999999;
    padding: 0 30px;
  }

  .n-link:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 23px;
  }

  .n-link:focus {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 23px;
  }

  .n-signup {
    text-decoration: none;
    color: #0065FC;
    padding: 0 20px;
  }
  
/* Mise en forme SECTION SEARCH */
.search {
  padding: 10px;
}

.title {
  display: flex;
  flex-direction: column;
}

.s-title {
  font-size: medium;
  margin-top: 0;
  margin-bottom: 5px;
}

.s-subtitle {
  font-size: smaller;
  margin-top: 0;
}

.s-input {
  display: flex;
}

.s-icon {
  background-color: #F2F2F2;
  padding: 10px 15px;
  border-radius: 10px 0 0 10px;
  text-align: center;
}

.s-form {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 15px;
  width: 200px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Raleway";
}

.s-button {
  background-color: #0065FC;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 0 10px;
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Raleway";
  cursor: pointer;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.f-title {
  display: flex;
  align-items: center;
  margin: 0 20px 10px 0;
}

.f-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  margin: 0 20px 10px 0;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.f-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: -14px;
}

.f-text {
  padding: 0 10px 0 25px;
}

.result {
  display: flex;
}

.r-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: small;
}

.r-text {
  display: flex;
  align-items: center;
  padding: 3px 0 0 10px;
  height: 25px;
  width: auto;
  font-size: small;
}

/* Mise en forme DISPLAY & ASIDE*/
.displayaside {
  display: flex;
  border: 1px solid black;
}

.display-1 {
  border: 1px solid black;
  margin: 10px;
  width: 60%;
  height: 400px;
}

.aside {
  border: 1px solid black;
  margin: 10px;
  width: 40%;
  height: 400px;
}

.imagePosition {
  position: relative;
}

.i-1 {
  width: 200px;
  height: auto;
}

.legend {
  position: absolute;
  font-size: small;
  line-height: 20px;
}

.legend-1 {
  font-weight: bold;
}

.notation {
  color: #0065FC;
}

.n-2 {
  color: #d9d9d9;
}



/* Mise en forme BESIDE */
.beside {
  border: 1px solid black;
  width: 100%;
  height: 300px;
}

.b-text {
  display: flex;
  border: 1px solid black;
  margin: 10px;
}

/* Mise en forme FOOTER */
footer {
  background-color: #F2F2F2;
}

.liste {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 10px;
  margin-right: 200px;
  font-size: small;
  line-height: 20px;
}

.l-title {
  font-weight: bold;
  line-height: 50px;
}

.l-link {
  text-decoration: none;
  color: black;
}

.l-link:hover {
  text-decoration: none;
  color: black;
}
