@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

/* Mise en forme HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  border: 1px solid black;
  width: 100px;
  height: auto;
  margin: 20px 0 20px 40px;
}

@media all and (max-width: 767px) {
  .logo {
    margin: 20px 0 20px 20px;
  }
}

.nav-link {
  border: 1px solid black;
  margin-right: 40px;
}

@media all and (max-width: 767px) {
  .nav-link {
    margin-right: 20px;
  }
}

.n-link {
  border: 1px solid black;
  text-decoration: none;
  font-weight: 600;
  padding: 0 30px 0 30px;
  color: gray;
}


@media all and (max-width: 767px) {
  .n-link {
    display: none;
  }
}

.n-link:hover, .n-link:focus {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 30px;
}

.n-signup {
  color: #0065FC;
  border: 1px solid black;
  text-decoration: none;
  font-weight: 700;
  padding: 0 30px 0 30px;
}

@media all and (max-width: 767px) {
  .nav-link-device {
    display: flex;
    justify-content: center;
  }

  .n-link-device {
    width: 100%;
    text-decoration: none;
    color: gray;
    font-weight: 600;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10px;
    border-bottom: 2px solid #F2F2F2;
    
  }

  .n-link-device:hover, .n-link-device:focus {
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
    padding-bottom: 10px;
  }
}

@media all and (min-width: 768px) {
  .nav-link-device, .n-link-device {
    display: none;
  }
}

/* Mise en forme SECTION SEARCH */
.search {
  margin: 0 40px 0 40px;
  border: 1px solid black;
}

@media all and (max-width: 767px) {
  .search {
    margin: 5px 20px 10px 20px;
    width: auto;
    height: auto;
  }
}

.s-title {
  border: 1px solid black;
  font-size: medium;
  margin-bottom: 5px;
}

.s-subtitle {
  border: 1px solid black;
  font-size: smaller;
  margin-top: 0;
}

.s-icon {
  background-color: #F2F2F2;
  padding: 10px 15px;
  border-radius: 10px 0 0 10px;
  text-align: center;
}

.s-form {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 15px;
  width: 200px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Raleway";
}

.s-button {
  background-color: #0065FC;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 0 10px;
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Raleway";
  cursor: pointer;
}

@media all and (min-width: 768px) {
  .s-find-icon {
    display: none;
  }
}

@media all and (max-width: 767px) {
  .s-find {
    display: none;
  }
  .s-button {
    border-radius: 10px;
    width: 45px;
    font-size: 14px;
  }
}

.filters {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.f-title {
  display: flex;
  align-items: center;
  margin: 0 20px 10px 0;
}

@media all and (max-width: 767px) {
  .f-title {
    border: 1px solid black;
    margin: 0 300px 10px 0;
  }
}

.f-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  margin: 0 20px 10px 0;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.f-button:hover {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  margin: 0 20px 10px 0;
  padding: 10px;
  background-color: #DEEBFF;
  color: #0065FC;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.5s;
}

.f-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: -14px;
}

.f-text {
  padding: 0 10px 0 25px;
}

.result {
  border: 1px solid black;
  display: flex;
  margin: 15px 0 25px 0;
}

.r-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: small;
}

.r-text {
  display: flex;
  align-items: center;
  padding: 3px 0 0 10px;
  height: 25px;
  width: auto;
  font-size: small;
}

/* Mise en forme DISPLAY */
figure, h3, h4, h5 {
  display: inline;
  margin: 0;
}

.displayAside {
  border: 1px solid rgb(24, 197, 102);
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin: 0 40px 0 40px;
}

@media all and (max-width: 767px) {
  .displayAside {
    flex-direction: column-reverse;
    margin: 0;
    width: auto;
    height: auto;
  }
}

.display {
  border: 1px solid rgb(230, 20, 20);
  display: flex;
  flex-direction: column;
  max-width: 767px;
  height: auto;
  background-color: #F2F2F2;
  border-radius: 15px;
}

@media all and (max-width: 1250px) {
  .display {
    max-width: 100%;
    margin: 0 auto 0 auto;
  }
}

@media all and (max-width: 767px) {
  .display {
    width: auto;
    height: auto;
    background-color: white;
  }
}

.d-title {
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 60px;
}

.d-title-top {
  border: 1px solid rgb(204, 207, 10);
  margin-left: 30px;
}

@media all and (max-width: 767px) {
  .d-title-top {
    margin-left: 20px;
  }
}

.d-thumbnail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid rgb(32, 21, 197);
  margin: 0 30px 0 30px;
}

@media all and (max-width: 767px) {
  .d-thumbnail {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 0 20px 0 20px;
  }
}

.d-backgroundThumbnail {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow:2px 2px 10px #dddbdb;
  width: 190px;
  height: 150px;
  border-radius: 25px;
  padding: 5px;
  margin-bottom: 20px;
  cursor: pointer;  
}

@media all and (max-width: 767px) {
  .d-backgroundThumbnail {
    width: 98%;
    height: 190px;
  }
}

.d-photo {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 190px;
  height: 90px;
}

@media all and (max-width: 767px) {
  .d-photo {
    width: 100%;
    height: 110px;
  }
}

.d-legend {
  border: 1px solid black;
  margin-left: 10px;
  padding-top: 5px;
  font-size: 12px;
  line-height: 5px;
}

@media all and (max-width: 767px) {
  .d-legend {
    font-size: 16px;
    padding-top: 10px;
  }
}

.d-rating {
  border: 1px solid black;
  color: #0065FC;
}

.d-botton-title {
  border: 1px solid black;
  margin: 10px 30px 5px 30px;
}

@media all and (max-width: 767px) {
  .d-botton-title {
    font-size: 19px;
    margin: 5px 0 10px 20px;
  }
}

/* Mise en forme ASIDE */
aside {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(241, 16, 16);
  max-width: 360px;
  background-color: #F2F2F2;
  border-radius: 15px;
}

@media all and (max-width: 1250px) {
  aside {
    max-width: 100%;
    width: 100%;
    margin: 0 auto 20px auto;
  }
}


@media all and (max-width: 767px) {
  aside {
    max-width: none;
    width: auto;
    border-radius: 0px;
  }
}

.asideTitle {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}

.a-title {
  border: 1px solid rgb(226, 212, 17);
  margin-left: 30px;
}

@media all and (max-width: 767px) {
  .a-title {
    margin-left: 20px;
  }
}

.a-icon {
  border: 1px solid rgb(235, 220, 17);
  margin-right: 30px;
}

@media all and (max-width: 767px) {
  .a-icon {
    margin-right: 20px;
  }
}

.a-thumbnail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid rgb(68, 31, 233);
  margin: 0 30px 0 30px;
}

@media all and (max-width: 1250px) {
  .a-thumbnail {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}


@media all and (max-width: 767px) {
  .a-thumbnail {
    align-content: center;
    margin: 0 20px 0 20px;
    width: 100%;
    height: auto;
  }
}

.a-backgroundThumbnail {
  display: flex;
  background-color: white;
  border: 1px solid black;
  box-shadow:2px 2px 10px #dddbdb;
  width: 285px;
  height: 105px;
  border-radius: 25px;
  padding: 5px;
  margin-bottom: 20px;
  cursor: pointer;  
}

@media all and (max-width: 767px) {
  .a-backgroundThumbnail {
    width: 98%;
    min-height: 150px;
    border-radius: 25px;
  }
}

.a-photo {
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  width: 98px;
  height: 105px;
}

@media all and (max-width: 767px) {
  .a-photo {
    min-width: 150px;
    min-height: 150px;
  }
}

.a-legend {
  border: 1px solid black;
  padding: 8px 20px 0 20px;
  width: 170px;
  font-size: 12px;
}

@media all and (max-width: 767px) {
  .a-legend {
    padding: 10px 0 0 20px;
    min-width: 200px;
    font-size: 16px;
  }
}

.a-price {
  border: 1px solid black;
  margin-top: 5px;
}

.a-rating {
  border: 1px solid black;
  padding-top: 10px;
  color: #0065FC;
}

@media all and (max-width: 767px) {
  .a-rating {
    padding-top: 20px;
  }
}

.star-1, .star-2 {
  color: #F2F2F2;
}

/* Mise en forme BESIDE */
.beside {
  border: 1px solid rgb(9, 238, 21);
  display: flex;
  flex-direction: column;
  margin: 20px 40px 0 40px;
}

@media all and (max-width: 767px) {
  .beside {
    height: auto;
    width: auto;
    margin: 0;
  }
}

.b-title {
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 60px;
  
}

#b-title-top {
  border: 1px solid rgb(245, 222, 16);
}

@media all and (max-width: 767px) {
  #b-title-top {
    margin-left: 20px;
  }
}

.b-bloc {
  border: 1px solid rgb(248, 23, 6);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media all and (max-width: 767px) {
  .b-bloc {
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 20px;
  }
}

.b-backgroundThumbnail-1, .b-backgroundThumbnail-4 {
  border: 1px solid black;
  width: 265px;
  height: 345px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .b-backgroundThumbnail-1, .b-backgroundThumbnail-4 {
    width: 99%;
    height: 190px;
  }
}

.b-photo-1, .b-photo-4 {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 300px;
  margin-bottom: 10px;
}

@media all and (max-width: 767px) {
  .b-photo-1, .b-photo-4 {
    width: 100%;
    height: 140px;
  }
}

.b-legend {
  border: 1px solid black;
  font-size: small;
  padding-left: 20px;
}

@media all and (max-width: 767px) {
  .b-legend {
    font-size: 16px;
  }
}

.b-bloc-mini {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 265px;
  height: 345px;
}

@media all and (max-width: 767px) {
  .b-bloc-mini {
    width: 99%;
    height: auto;
    margin: 20px 0 20px 0;
  }
}

.b-bachgroundThumbnail-2 {
  border: 1px solid black;
  width: 265px;
  height: 175px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .b-bachgroundThumbnail-2 {
    width: 100%;
    height: 190px;
    margin-bottom: 20px;
  }
}

.b-photo-2 {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 130px;
  margin-bottom: 10px;
}

@media all and (max-width: 767px) {
  .b-photo-2 {
    width: 100%;
    height: 140px;
  }
}

.b-bachgroundThumbnail-3 {
  border: 1px solid black;
  width: 265px;
  height: 130px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .b-bachgroundThumbnail-3 {
    width: 100%;
    height: 190px;
  }
}

.b-photo-3 {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 85px;
  margin-bottom: 10px;
}

@media all and (max-width: 767px) {
  .b-photo-3 {
    width: 100%;
    height: 140px;
    margin-bottom: 10px;
  }
}

.b-bachgroundThumbnail-5 {
  border: 1px solid black;
  width: 265px;
  height: 155px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #dddbdb;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .b-bachgroundThumbnail-5 {
    width: 100%;
    height: 190px;
    margin-bottom: 20px;
  }
}

.b-photo-5 {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 110px;
  margin-bottom: 10px;
}

@media all and (max-width: 767px) {
  .b-photo-5 {
    width: 100%;
    height: 140px;
  }
}

.b-bachgroundThumbnail-6 {
  border: 1px solid black;
  width: 265px;
  height: 150px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .b-bachgroundThumbnail-6 {
    width: 100%;
    height: 190px;
  }
}

.b-photo-6 {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 105px;
  margin-bottom: 10px;
}

@media all and (max-width: 767px) {
  .b-photo-6 {
    width: 100%;
    height: 140px;
  }
}

/* Mise en forme FOOTER */
footer {
  background-color: #F2F2F2;
}

.liste {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

ul {
  border: 1px solid black;
  list-style: none;
  padding: 0;
  margin: 10px 200px 30px 40px;
  font-size: 13px;
  line-height: 20px;
}

@media all and (max-width: 767px) {
  ul {
    margin: 10px 200px 20px 20px;
  }
}

.l-title {
  font-weight: bold;
  line-height: 45px;
}

.l-link {
  text-decoration: none;
  color: rgb(80, 80, 80);
}

.l-link:hover {
  color: black;
}
