@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

/* Mise en forme HEADER */
header {
  display: flex;
  justify-content: space-between;
  height: 66px;
  align-items: center;
}

.logo {
  margin: 10px 0 0 40px;
  width: 100px;
  height: auto;
}

.nav-link {
  margin: 10px;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
}

.n-link {
  text-decoration: none;
  color: #999999;
  padding: 0 30px;
}

.n-link:hover {
  color: #0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 23px;
}

.n-link:focus {
  color: #0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 23px;
}

.n-signup {
  text-decoration: none;
  color: #0065FC;
  padding: 0 20px;
}
  
/* Mise en forme SECTION SEARCH */
.search {
  padding: 20px 0 30px 40px;
}

.s-title {
  font-size: medium;
  margin-bottom: 5px;
}

.s-subtitle {
  font-size: smaller;
  margin-top: 0;
}

.s-input {
  display: flex;
}

.s-icon {
  background-color: #F2F2F2;
  padding: 10px 15px;
  border-radius: 10px 0 0 10px;
  text-align: center;
}

.s-form {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 15px;
  width: 200px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Raleway";
}

.s-button {
  background-color: #0065FC;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 0 10px;
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Raleway";
  cursor: pointer;
}

@media all and (min-width: 600px) and (max-width: 1280px) {
  .s-find-icon {
    display: none;
  }
}

@media all and (min-width: 10px) and (max-width:  599px) {
  .s-find {
    display: none;
  }

  .s-button {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    width: 45px;
    height: 40px;
    font-size: 14px;
    font-weight: bold; 
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.f-title {
  display: flex;
  align-items: center;
  margin: 0 20px 10px 0;
}

.f-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  margin: 0 20px 10px 0;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.f-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: -14px;
}

.f-text {
  padding: 0 10px 0 25px;
}

.result {
  display: flex;
  margin-top: 15px;
}

.r-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: small;
}

.r-text {
  display: flex;
  align-items: center;
  padding: 3px 0 0 10px;
  height: 25px;
  width: auto;
  font-size: small;
}

/* Mise en forme DISPLAY & ASIDE*/
figure {
  display: inline;
  margin: 0;
}

.display {
  display: flex;
  flex-wrap: wrap;
  width: 740px;
  height: 500px;
  background-color: #F2F2F2;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.d-title {
  width: 740px;
  padding-left: 25px;
}

.asideTitle {
  display: flex;
  width: 360px;
  height: 50px;
  
}

.a-title {
  margin: 0;
  padding: 23px 0 0 25px;
  
}

.a-icon {
  padding: 23px 0 0 135px;
  
}

.more {
  padding-left: 25px;
}

.d-layerThumbnail {
  width: 200px;
  height: 90px;
  text-align: center;
  overflow: hidden;
}

.a-layerThumbnail {
  width: 150px;
  height: 160px;
  text-align: center;
  overflow: hidden;
}

.d-photo {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 200px;
  height: 90px;
}

.a-photo {
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  width: 120px;
  height: 115px;
}

.d-backgroundThumbnail {
  background-color: white;
  box-shadow:2px 2px 10px #dddbdb;
  width: 200px;
  height: 155px;
  border-radius: 25px;
  padding: 5px;
  margin: 0 15px 25px 20px;
  cursor: pointer;  
}

.a-backgroundThumbnail {
  display: flex;
  background-color: white;
  box-shadow:2px 2px 10px #dddbdb;
  width: 300px;
  height: 115px;
  border-radius: 25px;
  padding: 5px;
  margin: 15px 0 20px 20px;
  cursor: pointer;  
}

.d-legend {
  padding-left: 10px;
  width: 170px;
  font-size: 12px;
  line-height: 5px;
}

.a-legend {
  padding-left: 20px;
  padding-right: 20px;
  width: 170px;
  font-size: 12px;
}

.displayAside {
  display: flex;
  padding: 0 0 30px 30px;
  height: 500px;
}

aside {
  width: 365px;
  height: 500px;
  background-color: #F2F2F2;
  border-radius: 15px;
  margin: 10px 30px 30px 25px;
  padding: 10px;
}

.d-rating {
  color: #0065FC;
}

.a-price {
  margin-top: 5px;
}

h3 {
  margin-bottom: 0;
}

.a-rating {
  padding-top: 15px;
  color: #0065FC;
}

.star-1, .star-2 {
  color: #F2F2F2;
}

/* Mise en forme BESIDE */
.beside {
  display: flex;
  flex-wrap: wrap;
  height: 480px;
  margin-left: 40px;
  margin-right: 40px;
}

.b-title {
  padding-top: 20px;
  padding-bottom: 0;
  width: 1300px;
  height: 15px;
}

.b-bloc {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  height: 350px;
  margin-bottom: 90px;
}

.b-bloc-mini {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 265px;
  height: 350px;
}

.b-bachgroundThumbnail-2 {
  width: 265px;
  height: 180px;
  
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

.b-photo-2 {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 130px;
}

.b-bachgroundThumbnail-3 {
  width: 265px;
  height: 135px;
  
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

.b-photo-3 {
  object-fit: cover;
  object-position: top 10px;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 85px;
}

.b-bachgroundThumbnail-5 {
  width: 265px;
  height: 160px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

.b-photo-5 {
  object-fit: cover;
  object-position: top 10px;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 110px;
}
.b-bachgroundThumbnail-6 {
  width: 265px;
  height: 155px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

.b-photo-6 {
  object-fit: cover;
  object-position: top 10px;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 105px;
}

.b-backgroundThumbnail-1, .b-backgroundThumbnail-4 {
  width: 265px;
  height: 350px;
  border-radius: 20px;
  box-shadow:2px 2px 10px #dddbdb;
  cursor: pointer;
}

.b-photo-1, .b-photo-4 {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 265px;
  height: 300px;
}

.b-title-1, .b-title-4, .b-title-3, .b-title-2, .b-title-5, .b-title-6 {
  font-size: small;
  padding-left: 20px;
}

/* Mise en forme FOOTER */
footer {
  background-color: #F2F2F2;
}

.liste {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 40px;
  margin-right: 150px;
  font-size: small;
  line-height: 20px;
}

.l-title {
  font-weight: bold;
  line-height: 50px;
}

.l-link {
  text-decoration: none;
  color: black;
}

.l-link:hover {
  text-decoration: none;
  color: black;
}
